@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@media screen and (max-width: 1920px) {

  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .body {
    margin-left: 80px;

  }


  .label-for-main-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #474746;
  }

  .label-for-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    color: #474746;


  }


  input[type=text] {
    width: 95%;
  }

  .field1 {
    box-sizing: border-box;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 1000px 15px 55px;
    gap: 10px;


    width: 85%;
    height: 16%;

    /* white */

    background: #F9F9F9;
    /* gray_normal */

    border: 2px solid #999999;
    box-shadow: inset 2px 2px 10px rgba(174, 174, 174, 0.4);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #999999;


  }

  .field2 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 920px 100px 55px;
    gap: 10px;

    width: 95%;
    height: 30%;

    /* white */

    background: #F9F9F9;
    /* gray_normal */

    border: 2px solid #999999;
    box-shadow: inset 2px 2px 10px rgba(174, 174, 174, 0.4);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #999999;

  }

  .field3 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 55px;
    gap: 1160px;

    width: 95%;
    height: 60px;

    /* white */

    background: #F9F9F9;
    /* gray_normal */

    border: 2px solid #999999;
    box-shadow: inset 2px 2px 10px rgba(174, 174, 174, 0.4);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #999999;
  }


}


@media screen and (max-width: 1280px) {

  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .body {
    margin-left: 80px;

  }


  .label-for-main-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #474746;
  }

  .label-for-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    color: #474746;


  }


  input[type=text] {
    width: 95%;
  }

  .field1 {
    box-sizing: border-box;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 1000px 15px 55px;
    gap: 10px;


    width: 85%;
    height: 16%;

    /* white */

    background: #F9F9F9;
    /* gray_normal */

    border: 2px solid #999999;
    box-shadow: inset 2px 2px 10px rgba(174, 174, 174, 0.4);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #999999;


  }

  .field2 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 920px 100px 55px;
    gap: 10px;

    width: 95%;
    height: 30%;

    /* white */

    background: #F9F9F9;
    /* gray_normal */

    border: 2px solid #999999;
    box-shadow: inset 2px 2px 10px rgba(174, 174, 174, 0.4);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #999999;

  }

  .field3 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 55px;
    gap: 1160px;

    width: 95%;
    height: 60px;

    /* white */

    background: #F9F9F9;
    /* gray_normal */

    border: 2px solid #999999;
    box-shadow: inset 2px 2px 10px rgba(174, 174, 174, 0.4);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #999999;
  }


}



@media screen and (max-width: 3840px) {

  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .body {
    margin-left: 80px;

  }


  .label-for-main-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #474746;
  }

  .label-for-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    color: #474746;


  }


  input[type=text] {
    width: 95%;
  }

  .field1 {
    box-sizing: border-box;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 1000px 15px 55px;
    gap: 10px;


    width: 85%;
    height: 16%;

    /* white */

    background: #F9F9F9;
    /* gray_normal */

    border: 2px solid #999999;
    box-shadow: inset 2px 2px 10px rgba(174, 174, 174, 0.4);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #999999;


  }

  .field2 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 920px 100px 55px;
    gap: 10px;

    width: 95%;
    height: 30%;

    /* white */

    background: #F9F9F9;
    /* gray_normal */

    border: 2px solid #999999;
    box-shadow: inset 2px 2px 10px rgba(174, 174, 174, 0.4);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #999999;

  }

  .field3 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 55px;
    gap: 1160px;

    width: 95%;
    height: 60px;

    /* white */

    background: #F9F9F9;
    /* gray_normal */

    border: 2px solid #999999;
    box-shadow: inset 2px 2px 10px rgba(174, 174, 174, 0.4);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #999999;
  }


}


@media screen and (max-width: 8840px) {

  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .body {
    margin-left: 80px;

  }


  .label-for-main-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #474746;
  }

  .label-for-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 39px;
    color: #474746;


  }


  input[type=text] {
    width: 95%;
  }

  .field1 {
    box-sizing: border-box;
    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 1000px 15px 55px;
    gap: 10px;


    width: 85%;
    height: 16%;

    /* white */

    background: #F9F9F9;
    /* gray_normal */

    border: 2px solid #999999;
    box-shadow: inset 2px 2px 10px rgba(174, 174, 174, 0.4);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #999999;


  }

  .field2 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 920px 100px 55px;
    gap: 10px;

    width: 95%;
    height: 30%;

    /* white */

    background: #F9F9F9;
    /* gray_normal */

    border: 2px solid #999999;
    box-shadow: inset 2px 2px 10px rgba(174, 174, 174, 0.4);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #999999;

  }

  .field3 {
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 55px;
    gap: 1160px;

    width: 95%;
    height: 60px;

    /* white */

    background: #F9F9F9;
    /* gray_normal */

    border: 2px solid #999999;
    box-shadow: inset 2px 2px 10px rgba(174, 174, 174, 0.4);


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;


    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;

    color: #999999;
  }


}




