section {
	background-color: #eee;
	border-radius: 10px ;
}

 .user {
	width: 245px;
	height: 245px;
  }
  
  .inf{
	height: 49px;
  }
  
  .user_name {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 49px;
	color: #474746;
  }
  
  .user_inf {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #474746;
  }
  
  .img_lik{
	 margin-left: 20px;
  }

  .search-m {
	margin-left: 330px;
  }

