@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

.search {
  padding: 5px 147px 5px 17px;
  gap: 4px;
  height: 29px;
  background: #f2f2f2;
  border-radius: 30px;

  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;

  background: url("../../images/search.png") no-repeat 10px;
  padding-left:30px;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #999999;
}