.welcome {
  /* position: absolute;
    width: 418px;
    height: 30px;
    left: 241px;
    top: 236px; */

  /* text */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  /* display: flex;
    align-items: center;
    text-align: center; */

  color: #000000;
}

.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

.strike>span {
  position: relative;
  display: inline-block;
}

.strike>span:before,
.strike>span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: #474746;
}

.strike>span:before {
  right: 100%;
  margin-right: 60px;
}

.strike>span:after {
  left: 100%;
  margin-left: 60px;
}

@import url("https://fonts.googleapis.com/css?family=Nunito%20Sans");

.text {
  /* Nunito Sans */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  /* dark gray */

  color: #474746;
}

.text-1 {
  /* Nunito Sans */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 17px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;

  /* dark gray */

  color: #97681d;
}

.submit {
  width: 65%;
  height: 55px;
  background: #f0ab3b;
  border-radius: 20px;
}

.btn-text {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  /* srm_color */

  color: #ffffff;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.img-icon {
  padding: auto;
  margin: 20px;
  max-width: 50px;
}

.text-menu {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #474746;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.kategory {
  margin-top: 15px;
  width: 300px;
  padding-left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  display: flex;
  align-items: center;
  color: #474746;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.icon-menu {
  margin-right: 10px;
}

.filter {
  /* white */
  background: #F9F9F9;
  /* drop_dhop_yellow */
  box-shadow: 0px 2px 5px rgba(240, 171, 59, 0.6);
  border-radius: 10px;
}

.shearch {
  border-radius: 30px;
  border: 20px;
}

.baner {
  margin-top: 10px;
  max-width: 100%;
}

.text_karesel {
  width: 90%;
  height: 44px;
  left: 376px;
  top: 672px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #474746;
}

.text-rec {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  width: 212px;
  height: 30px;
  color: #000000;
}

.text-rec-gray {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  color: #999999;
}

.card {
  margin: 35px;
  width: 320px;
  height: 393px;
  background: #f9f9f9;
  box-shadow: 0px 2px 5px rgba(153, 153, 153, 0.5);
}

.card-vip {
  margin: 5px;
  width: 271px;
  height: 393px;
  background: #f9f9f9;
  box-shadow: 0px 2px 5px rgba(153, 153, 153, 0.5);
}

.card-title {
  margin-left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  color: #474746;
}

.card-text {
  margin-left: 10px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #999999;
}

.card-text2 {
  margin-left: 10px;
  left: 49px;
  top: 1734px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 29px;
  color: #cd5091;
  align-items: self-position;
  text-align: match-parent;
}

.card-image {
  width: 320px;
  height: 221px;
  border-radius: 10px;
}

.detail {
  background: #F4F3F3;
  border-radius: 25px;
}

.detail-imageCard {
  width: 472.38px;
  height: 473px;
  border-radius: 30px 30px 0px 0px;
}

.detail-image {
  width: 472.38px;
  height: 473px;
  border-radius: 30px 30px 0px 0px;
}

.detail-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  color: #19191A;
}

.detail-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #999999;
}

.detail-text2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #CD5091;
}

.detail-tag {
  border: 1px solid #999999;
  border-radius: 14px;
  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
}

.detail-tag-text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;

  color: #999999;
}

.detail-tag-desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 129.9%;
  color: #575757;
}


.card-title-vip {
  margin-left: 10px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  /* display: flex;
  align-items: center; */

  /* dark gray */
  color: #474746;
}

.card-text-vip {
  margin-left: 10px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* gray_normal */
  color: #999999;
}

.card-text2-vip {
  margin-left: 10px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  /* pink */
  color: #CD5091;
}