.imgNavbar {
  max-height: 50px;
  width: 50px;
}

.pad {
  padding-top: 10px;
  background-color: #f7f7f6;
  background: #ffffff;
}

.defaultPositions {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

.position {
  position: static;
  width: 1512px;
  height: 94px;
  left: 0px;
  top: 0px;
}
.defaultPositions2{
  position: absolute;
}

.heder-logo {
  max-height: 60px;  
}

.heder-logo2 {
  max-height: 30px;
  margin-left: 50px;
}

.heder-baton{
  position: static;
  max-height: 30px;
}

.header {
  background: #FFFFFF;  
  box-shadow: 2px 3px 5px rgba(240, 171, 59, 0.6);
}